.publicidad img{
    width:300px;
    height: 300px;
    border-radius: 10px;

  }    
  .publicidad{
     display: flex;
      flex-direction: row;
      justify-content: center ;
       height: 50vh;
  }
  img .fondo{
    width: max-content;
    height: 100vh;
  }
  